.topLink__Btn {
	width: 100%;
	margin: 0 auto;
	text-decoration: none;
	color: #fff;
	background: #1852a3;
	padding: 0.8rem 6rem;
	text-align: center;
	border-radius: 30px;
	border: solid 1px #fff;
	font-size: 1.2rem;
}
